In [1]:
import pandas as pd
from general import make_tables, ord_mes, unif_colors
from datetime import datetime
import plotly.express as px
dtstring = datetime.now().strftime('%y%m%d')
pd.options.display.max_columns = 500

In [2]:
f12 = pd.read_csv('C:/Users/maperezr/OneDrive - Falabella/General/DATA/F12/220912_f12.csv', sep = ',',  dtype='object')

In [9]:
f12['DCREACION'] = pd.to_datetime(f12['DCREACION'])
f12 = f12.loc[f12['DCREACION'] >= '2022-01-01'].reset_index()
f12['DIAS'] = (f12['DCREACION'].max() - f12['DCREACION'])
f12['DIAS'] = f12['DIAS'].apply(lambda x :x.days)
f12['MPRECIO'] = pd.to_numeric(f12['MPRECIO'])
f12.loc[f12['DIAS'] <30, 'age'] = 'Menor a 30' 
f12.loc[(f12['DIAS'] > 30) & (f12['DIAS']<=60), 'age'] ='30 a 60'
f12.loc[(f12['DIAS'] > 60) & (f12['DIAS']<=90), 'age'] ='61 a 90'
f12.loc[(f12['DIAS'] > 90) & (f12['DIAS']<=120), 'age'] ='91 a 120'
f12.loc[(f12['DIAS'] > 120) & (f12['DIAS']<=180) , 'age'] ='121 a 180'
f12.loc[(f12['DIAS'] > 180), 'age'] ='Mayor a 181'
f12.rename(columns={'DESC_ESTADO':'Estado'}, inplace=True)

f12_abiertos = f12.loc[f12['Estado'].isin(['EN RUTA', 'DIGITADO', 'RESERVADO','CONFIRMADO'])].reset_index(drop=True)

tabla = make_tables(f12_abiertos, 'Estado', 'age', 'MPRECIO','ant')

tabla.write_image(f'output/{dtstring}_antiguedad_f12.jpg', width=1000, height=300, engine='orca')

In [ ]:
f12.loc[f12['Estado'].isin(['ANULADO X NCRD', 'TOTAL ENTREGA', 'ANULADO X USER','ANULADO X FALTA']), 'estado_agg'] = 'Cerrado'
f12.loc[f12['Estado'].isin(['EN RUTA', 'DIGITADO', 'RESERVADO','CONFIRMADO']), 'estado_agg'] = 'Abierto'

In [ ]:
f12gb = f12.groupby('estado_agg')['MPRECIO'].sum().reset_index()

In [ ]:
f12gb

  estado_agg       MPRECIO
0    Abierto  9.605551e+09
1    Cerrado  6.318861e+11

In [ ]:
torta_f12 = px.pie(f12gb, values = 'MPRECIO', names = 'estado_agg', color = 'estado_agg', color_discrete_map = {'Abierto':'rgb(51, 102, 102)', 'Cerrado':'rgb(204, 204, 51)'})
torta_f12.update_traces( textposition ='outside', textinfo = 'percent+label')
torta_f12.update_layout(font =dict(size = 15), margin=dict(l=0,r=10,b=0) )
torta_f12.write_image(f'output/{dtstring}_torta_f12.png',width=400, height=400, engine='orca')

In [ ]:
f12.loc[f12['DCREACION'].notna(), 'mes_creacion'] = f12.loc[f12['DCREACION'].notna(), 'DCREACION'].apply(lambda  x : x.strftime('%b'))

In [ ]:
f12_mes = f12.groupby(['mes_creacion','estado_agg'])['MPRECIO'].sum().reset_index()

In [ ]:
color = unif_colors(f12_mes,'estado_agg') # TODO leer desde var_f4
orden = ord_mes(f12_mes,'mes_creacion') # TODO leer desde var_f4

In [ ]:
f12_mes

   mes_creacion estado_agg       MPRECIO
0           Apr    Abierto  2.835041e+07
1           Apr    Cerrado  6.262638e+10
2           Aug    Abierto  3.029119e+09
3           Aug    Cerrado  6.475443e+10
4           Feb    Abierto  5.082917e+07
5           Feb    Cerrado  5.629809e+10
6           Jan    Abierto  5.087383e+07
7           Jan    Cerrado  6.372577e+10
8           Jul    Abierto  3.957058e+08
9           Jul    Cerrado  6.442872e+10
10          Jun    Abierto  5.718497e+07
11          Jun    Cerrado  1.253232e+11
12          Mar    Abierto  6.486488e+07
13          Mar    Cerrado  1.156454e+11
14          May    Abierto  5.831766e+07
15          May    Cerrado  7.120073e+10
16          Sep    Abierto  5.870306e+09
17          Sep    Cerrado  7.883459e+09

In [ ]:
f12_mes_graf = px.bar(f12_mes, x = 'mes_creacion', y = 'MPRECIO', color='estado_agg', color_discrete_map = {'Abierto':'rgb(51, 102, 102)', 'Cerrado':'rgb(204, 204, 51)'},category_orders = {'mes_creacion' : orden}
, text = 'MPRECIO', text_auto = '.2s', labels={'mes_creacion': 'Mes', 'MPRECIO': 'Costo', 'estado_agg':'Estado agregado' })
f12_mes_graf.update_layout(legend = dict(yanchor = 'top', y = 0.95, xanchor = 'left', x = 0.8),font =dict(size = 15), margin=dict(l=0,r=10,b=0) )
f12_mes_graf.write_image(f'output/{dtstring}_f12_mes.png',  width=800, height=400, engine='orca')

In [ ]:
f12_sindup = f12.drop_duplicates('NFOLIO')

In [ ]:
f12_sindup.loc[]

SyntaxError: invalid syntax (2387562323.py, line 1)

In [ ]:
f12_1 = f12_sindup[0:591298] 
f12_1=f12_1['NFOLIO']
f12_1.to_excel('220802_f12_falacom_1.xlsx', index=False)

In [ ]:
f12_1 = f12_sindup[591298:]
f12_1=f12_1['NFOLIO']
f12_1.to_excel('220802_f12_falacom_2.xlsx', index=False)

In [ ]:
591298 +591299

1182597

In [ ]:
f12_1.shape

(591299,)

In [ ]:
f12_sindup.shape

(1182597, 33)